@import '../../global.styles.scss';


.menu-component {
	padding-top: $menu-height;

	.menu-bar{
		height: $menu-height;
		position: fixed;
		top: 0;
		width: 100%;
		background: $main;
		box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.5);
		z-index: 99;
	}

	.logo {
		color: #fff;
		padding: 13px;
		font-size: 30px;
		font-weight: 200;
		float: left;
		text-decoration: none;
	}

	.menu-links {
		display: flex;
		float: right;
		@media (max-width: 800px) {
			display: none;
		}
	}

	.menu-link {
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 15px;
		font-size: 25px;
		font-weight: 200;
		&.active {
			color: #333;
		}
		&:hover {
			color: #666;
		}
	}

}
