@import '../../global.styles.scss';


.gallery-component {
	width: 800px;
	margin: 10px auto;
	@media (max-width: 800px) {
		width: 100%;
	}

	.main-image {
		height: 600px;
		background: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		img {
			display: block;
		}
		@media (max-width: 800px) {
			height: 300px;
		}
		i {
			position: absolute;
			color: #d3d3d3;
			text-shadow: 0 0 3px rgba(0, 0, 0, .75);
			font-size: 100px;
			cursor: pointer;
			@media (max-width: 800px) {
				font-size: 50px;
			}
		}
		.arrow-left {
			left: 5px;
		}
		.arrow-right {
			right: 5px;
		}
	}

	.thumbnails {
		display: flex;
		flex-wrap: wrap;
		.thumbnail {
			cursor: pointer;
			margin: 5px 5px 0 0;
			width: 100px;
			height: 100px;
			display: flex;
			align-items: center;
			background: #000;
		}
	}

}
