@import '../global.styles.scss';


.goldens-component {
	video {
		margin: 15px auto;
		display: block;
		width: 800px;
		@media (max-width: 800px) {
			width: 100%;
		}
	}
	.card {
		padding: 5px 10px;
		background: #fff;
		margin: 10px 0;
		box-shadow: .5px .5px 5px 0px rgba(0,0,0,0.2);
	}
}
