$main: #969F85;
$menu-height: 65px;

* {
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url('https://storage.googleapis.com/albion-acres-2017/bg.png');
  min-height: 100vh;
  border-bottom: 8px solid $main;
}

img {
  max-width: 100%;
  max-height: 100%;
  image-orientation: from-image;
}

p {
  margin: 10px 0;
  font-size: 16px;
}